body{
  font-family: 'Roboto', sans-serif; 
  margin: 0;
  background: linear-gradient(to right, #000000, #525252);
  min-width: 500px;
}

nav{
  color: white;
  padding-top: 60px;
  padding-right: 50px;
  padding-left: 30px;
  font-weight: bold;
}

.presentation{
  color: white;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  line-height: 40px;
}

.presentation p{
  line-height: 25px;
  position: relative;
  top: 20px;
}

.presentation section{
  max-width: 1100px;
}

.presentation img{
  height: 700px;
  margin-left: 100px;
  /* box-shadow: 10px 5px 5px black; */
}

nav a {
  margin-left: 30px;
  color: #ffffff;
}

.presentation a{
  color: white;
  border: 2px solid white;
  padding: 10px;
  font-weight: bold;
  border-radius: 2px;
}

.cta{
  position: relative;
  top: 40px;
}

nav img{
  width: 100px;
}

a{
text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
}

h1{
  font-size: 17px;
}

strong{
  font-size: 40px;
  font-weight: 900;
}

.presentation div{
  min-width: 40%;
  position: relative;
}

.fondblanc{
  background-color: white;
}

.motivation{
  display: flex;
  flex-direction: row-reverse;
  padding: 50px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.motivation div{
  margin-left: 40px;
  margin-bottom: auto;
}

h2{
  font-size: 35px;
  margin-top: 0;
  font-weight: 900;
}

.motivation p{
  line-height: 25px;
  font-weight: 600;
  color: #494949;
}

.motivation img{
  width: 550px;
}

.motivation a{
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  font-weight: bold;
  border-radius: 2px;
  position: relative;
  top: 30px;
}

.projetsa h2{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.projets {
  background-image: url(../images/projets.jpg);
  background-position: center;
  background-attachment: fixed;
  width: auto;
  height: 1550px;
  background-size: cover;
  color: white;
}

.projets a{
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  font-weight: bold;
  border-radius: 2px;
  position: relative;
  top: 30px;
}

.projets img{
  height: 300px;
  border-radius: 30px;
}

.sportsconnect{
  width: auto;
  height: 300px;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  padding: 50px 20px 120px 20px;
  border-radius: 30px;
}

.projets p{
 line-height: 1.5em;
}

.sportsconnecta{
  max-width: 350px;
}

.bonapp{
  margin-top: 20px;
  /* margin-bottom: 100px; */
  width: auto;
  height: 300px;
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  padding: 50px 20px 70px 20px;
  border-radius: 30px;
}

.bonappa{
  max-width: 350px;
}

.bomberland{
  margin-top:20px;
  margin-bottom: 100px;
  width: auto;
  height: 300px;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  padding: 50px 20px 40px 20px;
  border-radius: 30px;
}

.bomberlanda{
  max-width: 350px;
}

.experience a{
  color: white;
  border: 2px solid white;
  padding: 10px;
  font-weight: bold;
  border-radius: 2px;
  position: relative;
  top: 30px;
}

.experience{
  color: white;
}

.voyagea{
  padding: 50px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.voyage{
  background-image: url(../images/apotres.jpg);
  background-position: center;
  background-attachment: fixed;
  width: auto;
  padding-bottom: 30px;
  background-size: cover;
}

.abtastya h2{
  display: flex;
  justify-content: center;
}

.cbp{
  background-image: url(../images/cbp1.jpg);
  background-position: center;
  background-attachment: fixed;
  width: auto;
  height: 300px;
  background-size: cover;
}

.cbpa{
  padding: 50px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.soustitre{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.limra{
  background-image: url(../images/limra.jpg);
  background-position: center;
  background-attachment: fixed;
  width: auto;
  height: 300px;
  background-size: cover;
}

.limraa{
  padding: 50px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.letudiant{
  background-image: url(../images/letudiant.jpg);
  background-position: center;
  background-attachment: fixed;
  width: auto;
  height: 300px;
  background-size: cover;
}

.letudianta{
  padding: 50px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.abtasty{
  background-image: url(../images/AB_Tasty.jpg);
  background-color: white;
  background-position: center;
  background-attachment: fixed;
  width: auto;
  /* height: 470px; */
  background-size: 80%;
  background-repeat: no-repeat
}

.abtasty_container{
  background-color:rgba(0, 0, 0, 0.55);
  padding-bottom: 30px;
  height: inherit;
}

.abtastya{
  padding: 50px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 30px; */
}

.abtastya ul li{
  margin-bottom: 15px;
}

.ironhacka{
  padding: 50px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  line-height: 1.5em;
}

.ironhack h2{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.ironhack{
  background-image: url(../images/ironhack.png);
  background-position: center;
  background-attachment: fixed;
  width: auto;
  height: 350px;
  background-size: cover;
}

.yschoola{
  padding: 70px 50px 50px 50px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.yschool{
  background-image: url(../images/yschool.jpg);
  background-position: center;
  background-attachment: fixed;
  width: auto;
  height: 250px;
  background-size: cover;
}

.devweb{
  background-color: white;
}

.devweba{
  display: flex;
  flex-direction: column;
  padding: 50px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.devweba p{
  line-height: 30px;
  font-weight: 600;
  font-size: 20px;
  color: #494949;
  margin-top: 30px;
  margin-bottom: 30px;
}

.devweba h2{
  font-size: 35px;
  margin-top: 0;
  font-weight: 900;
  margin: auto;
}

.devweba img{
  max-width: 1100px;
}

.citation{
  background-color: #000000;
}

.citationa{
  color: white;
  padding: 50px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.citationa p{
  font-size: 20px;
}

.citationa h2{
  font-size: 30px;
}

.competences{
  background-color: white;
}

.competencesa{
  padding: 50px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.centres{
  padding: 50px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.form{
  background-color: #000000;
}

.forma{
  padding: 50px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

footer{
  background-color: #000000;
}

hr{
  border: none;
  border-bottom: 1px solid #fff
}

.pied{
  color: rgb(255, 255, 255);
  padding: 50px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

fieldset{
  display: flex;
  border: none;
  color: white;
  flex-direction: column;
  padding: 20px;
}

label {
  margin-bottom: 10px;
  margin-top: 20px;
}

input,
textarea{
  padding: 15px;
  border-radius: 5px;
}

textarea{
  height: 150px;
}

input[type='submit'] {
  width: 200px;
  color: white;
  background-color: #000000;
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  font-weight: bold;
  border-radius: 2px;;
  margin: auto;
  font-size: 18px;
  cursor: pointer;
}

input[type='submit']:hover {
  opacity: 0.7;
}

.motivation h3{
  font-size: 2em;
margin-top: 0em;
}

.forma h3{
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
    font-weight: bold;
  }

.competences h2{
  font-size: 35px;
  margin-top: 0;
  font-weight: 900;
  display: flex;
  justify-content: center;
}

.competences p{
  line-height: 30px;
  font-weight: 600;
  font-size: 20px;
  color: #494949;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.competences ul{
display: flex;
flex-direction: column;
align-items: center;
}

#container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 150px;
}

#container div{
margin: auto;
}

.logo img{
  width: 150px;
  border: 20px;
}

#container p{
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 20px;
}

#container a:hover{
  text-decoration: underline;
}

#container a{
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5em;
}

.reseau img{
  width: 50px;
  margin: 30px;
}

.footerMessage{
max-width: 400px;

}

.projectPages{
  color: white;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
margin: auto;
padding: 50px;
line-height: 1.5em;
}

.projectPages h1{
  font-size: 2.5em;
  line-height: 1em;
}

.projectPages h2{
  margin-top: 20px;
  font-size: 1.5em;
}

.projectPages img{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 30px;
  width: 800px;

}

.projectPages a{
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  font-weight: bold;
  border-radius: 2px;
  margin: auto;
  margin-top: 20px;
}

.experiences{
  color: white;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
margin: auto;
padding: 50px;
line-height: 1.5em;
}

.experiences h1{
  font-size: 2.5em;
  line-height: 1.5em;
}

.experiences h2{
  margin-top: 20px;
  font-size: 1.5em;
  line-height: 1.5em;
}

.experiences img{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 30px;
  width: 800px;

}

.experiences iframe{
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
}

.experiences a:hover{
  text-decoration: underline;
}

.experiences a{
  color: #ffffff;
  font-weight: bold;
}



@media screen and (max-width: 1320px){
  .presentation img{
    height: 500px;
  }
}


@media screen and (max-width: 1200px){
  .motivation img{
    display: none;
  }
  .motivation div{
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1120px){
  .presentation{
    flex-direction: column;
    margin: auto;
  }

  .presentation img{
    height: 500px;
    margin-left: 40px;
  }

  .experiences iframe{
    width: 650px;
    height: 400px;
  }

  .reseau img{
    width: 50px;
    margin: 10px;
  }

  .projectPages img{
    width: 650px;
  }

  .experiences img{
    width: 650px;
  }

  .yschool{
    background-attachment:unset;
  }

  .ironhack{
    background-attachment:unset;
  }

  .limra{
    background-attachment:unset;
  }

  .letudiant{
    background-attachment:unset;
  }

  .abtasty{
    background-attachment:unset;
  }

  .cbp{
    background-attachment:unset;
  }

  .voyage{
    background-attachment:unset;
  }

  .projets {
    background-attachment:unset;
  }


}

@media screen and (max-width: 800px){
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  nav div{
    margin-top: 20px;
  }

  .projets img{
    display: none;
  }

  .sportsconnect{
    padding: 0px 20px 110px 20px;
  }

  .sportsconnecta{
    padding: 0px 50px 50px 50px;
    max-width: none;
  }

  .bonappa{
    padding: 0px 50px 50px 50px;
    max-width: none;
  }

  .bomberlanda{
    padding: 0px 50px 50px 50px;
    max-width: none;
  }
 
  .voyagea, .cbpa, .limraa, .letudianta, .yschoola{
  padding-top: 30px;
 }

 #container{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.projectPages img{
  width: 400px;
}

.experiences img{
  width: 400px;
}

.experiences iframe{
  width: 400px;
  height: 225px;
}

.ironhack{
  height: 400px;
}

}

@media screen and (max-width: 515px){
  body{
    background: linear-gradient(to right, #2e2e2e, #2e2e2e);
  }

  .ironhack{
    height: 420px;
  }

  }